<section class="inner">
	<h2 class="section-ttl"><%= @hobby.name %>の編集</h2>
  <%= render 'form', hobby: @hobby, url: hobby_path(@hobby), submit: '更新' %>
</section>

<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<h2>Post --></h2>
<%= form_with model: @post do |post| %>
  <%= render 'form', post: post %>
<% end %>