<div class="container-fluid">

  <%#= link_to 'Tags List', tags_path %>
  <% if admin_signed_in? %>
  <%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>
  <%end%>

  <h3>タグ名：<%= @tag.name %></h3>

  <%# タグに関連付く記事一覧 %>
  <ul>
    <% @tag.hobbies.each do |hobby| %>
      <li>
        <%= link_to hobby.name, hobby_path(hobby) %>
        <% if admin_signed_in? || hobby.user == current_user %>
          <%= link_to "削除", tag_path(hobby.tags.first), method: :delete, class:"btn btn-danger btn-sm", data: { confirm: "本当に削除しますか?" }%>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>