@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body,main {
    font-family: "Noto Sans Japanese";  /* フォントを指定 */
}

.shuuume {
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: blue ;
}
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /*body, main {*/
  /*background-color: #66FFFF;  ここに新しい背景色を指定します */
/*}*/

.container {
  max-width: 980px;
}

#notice,id {
color: blue;
}
header,footer {
  background-color: #FFDBC9;
}

.text-color {
  color: green;
}